<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>lian</title>
    <style>
        body {
            width: 100vw;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/vant@2.12/lib/index.css" />
</head>

<body>
    <div id="app">
        <van-tree-select height="55vw" :items="items" :main-active-index.sync="active">
            <template #content>
          <van-image
            v-for="(v,i) in items"
            width="500"
            v-if="active==i"
            :key="i"
            :src="items[active].img"
          />
        </template>
        </van-tree-select>
        <ul>
            <li style="margin: 10px;" v-for="(v,i) in items" :key="i">
                <p>text:<input type="text" v-model="v.text" /></p>
                <p>img:<input type="text" v-model="v.img" /></p>
                <van-button type="primary" @click="del(i)" size="mini">delete</van-button>
                <van-button type="primary" @click="up(i)" size="mini">↑</van-button>
                <van-button type="primary" @click="down(i)" size="mini">↓</van-button>
            </li>
        </ul>
        <van-button type="info" @click="add()" size="mini" style="margin: 20px 0;">add</van-button>
        <div style="margin: 20px">
            <van-button round block type="info" @click="submit" native-type="submit">提交</van-button>
        </div>

        <van-button type="warning" @click="deleteAll()" size="mini">deleteAll</van-button>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->

<script src="https://unpkg.com/vant@2.12/lib/vant.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: function() {
            return {
                active: 0,
                items: []
            };
        },
        methods: {
            submit() {
                this.setLocastorage('ewmList', this.items)
            },
            del(i) {
                this.items.splice(i, 1);
            },
            up(index) {
                if (index == 0) return;
                this.swapArray(this.items, index - 1, index)
            },
            down(index) {
                if (index == this.items.length - 1) return;
                this.swapArray(this.items, index, index + 1)
            },
            add() {
                this.items.push({
                    img: '',
                    text: ''
                })
            },
            deleteAll() {
                this.items = []
                this.clearLocastorage('ewmList')
            },
            //数组元素互换位置
            swapArray(arr, index1, index2) {
                arr[index1] = arr.splice(index2, 1, arr[index1])[0];
                return arr;
            },
            setLocastorage(item, val) {
                localStorage[item] = JSON.stringify(val);
            },
            getLocalstorage(item) {
                return localStorage[item] ? JSON.parse(localStorage[item]) : [];
            },
            clearLocastorage(item) {
                localStorage[item] = "";
            },
        },
        created() {
            this.items = this.getLocalstorage("ewmList");
        },
    });
</script>

</html>
